{% extends "base.html" %} {% block content %}
<br><br>

<!-- Detailed view of any particular post when clicked by the user for more details -->

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">

        <br> {% if post.image %}
        <img class="img-blogpost" src="{{ MEDIA_URL }}{{ post.image }}">
        <p><span class="boldtext">Author:</span> {{ post.author }}</p>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">

        <h3>{{ post.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'get_posts' %}" class="btn btn-success">Back to Blog</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-success">Edit Post</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete Post</a> {% else %}
                <a href="{% url 'get_posts' %}" class="btn btn-success">Back to Blog</a> {% endif %}
                <hr>
            </div>
        </div>
    </div>
</div>


<br><br><br><br> {% endblock %}