{% extends "base.html" %}
{% block content %}
<br><br>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
            <!--<a class="story-img" href="#">
                <img src="/media/images/pendant-blog1.jpg" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> Internet</p>-->
            <br>
            {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-success">Back to Blog</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-success">Edit Post</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    
<br><br><br><br>
{% endblock %}