{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block page_heading %}User Login{% endblock %} {% block content %}
<br>
<div class="registration-form">
    <div class="row">
        <div class="col-sm-12 col-md-6 register-border">
            <br>
            <legend>Log In</legend>
            <br>
            <form method="POST">
                {% csrf_token %} {{ login_form | as_bootstrap }}
                <button type="submit" class="btn btn-success">Log In</button>
            </form>
            <br>
            <p class="reset-password-link"><a href="{% url 'password_reset' %}">Reset Password</a></p>
            <br>
        </div>
    </div>
</div>
<br><br><br><br><br><br> {% endblock %}
