{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %} 

{% block page_heading %}User Registration{% endblock %} 

{% block content %}
<br>
<div class="container registration-form">
    <div class="row">
        <div class="col-sm-12 col-md-6 register-border">
            <br>
            <legend>Create a new account</legend>
            <br>
<p class="reset-password-link">Already got an account? <a href="{% url 'login' %}">Sign in </a></p>

<form method="POST">
    {% csrf_token %} 
    {{ registration_form | as_bootstrap }}
    <button type="submit" class="btn btn-success">Create account</button>
</form>
<br>
</div>
</div>
</div>
<br><br><br><br><br><br>
{% endblock %}