{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    <div class="row row-flex">
        {% if cart_items %} {% for item in cart_items %}

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-display">
            <div class="panel-body">
                <img class="product img-responsive center-block" src="{{ MEDIA_URL }}{{ item.product.image }}"></img>


                <div class="caption">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>Price: € {{ item.product.price }}</p>
                    <p>

                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control" required>
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success cart-amend-button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Adjust Quantity</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="card mb-3">
            <p class="card-header">Looks like your cart is empty!</p>
        </div>
        {% endif %}
    </div>
    <div class="total">
        <h2>Total: €{{ total }}</h2>
    </div>
    <div class="checkout-button">
        {% if total == 0 %}
        <button type="button" class="btn btn-success disabled">Submit Payment</button> {% else %}
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a> {% endif %}
    </div>
</div>
<br><br><br><br><br><br> {% endblock %}