{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creative Jewelry</title>
    
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %} 
   <!-- <script type="text/javascript" src="{% static 'js/script.js' %}"></script>-->
    {% endblock head_js %}
</head>

<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CJ<span> Creative Jewelry</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="{% url 'get_posts' %}"><i class="fa fa-clipboard"></i> Posts</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-list-alt" aria-hidden="true"></i>
        Categories<span class="caret"></span></a>
        
                        <div class="dropdown-menu">
                            <dl>
                            <dt><a class="dropdown-item" href="{% url 'necklaces' %}">Necklaces</a></dt>
                            <dt><a class="dropdown-item" href="{% url 'pendants' %}">Pendants</a></dt>
                            <dt><a class="dropdown-item" href="{% url 'earrings' %}">Earrings</a></dt>
                            <dt><a class="dropdown-item" href="{% url 'bracelets' %}">Bracelets</a></dt>
                            <dt><a class="dropdown-item" href="{% url 'rings' %}">Rings</a></dt>
                            <dt><a class="dropdown-item" href="{% url 'sets' %}">Sets</a></dt>
                            </dl>
                        </div>
                        
                    </li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                    <li class="navigation-link"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container-fluid">

        <section class="title-container section-container">
            <img class="responsive-img" src="{% static 'img/bracelet.jpg' %}" alt="title image">
            <div class="intro-content">
                <h2>Life is too short to wear boring jewelry</h2>
                <div class="display">
                    <form class="navbar-form" action="{% url 'search' %}" method="get">
                        <input type="text" name="q" placeholder="Search" class="form-control">
                        <button type="search" class="btn btn-success search-button">Search</button>
                    </form>
                </div>
            </div>
        </section>




        {% block content %} {% endblock %}

    </div>
    <footer class="footer">
        <div class="row footer-background">
            <div class="col-sm-12 col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a rel="noopener" target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube-square hvr-grow" aria-label="youtube"></i></a></li>
                    <li class="breadcrumb-item"> <a rel="noopener" target="_blank" href="https://twitter.com/?lang=en-gb"><i class="fa fa-twitter-square hvr-grow" aria-label="twitter"></i></a></li>
                    <li class="breadcrumb-item"> <a rel="noopener" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square hvr-grow" aria-label="facebook"></i></a></li>
                    <li class="breadcrumb-item"> <a rel="noopener" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram hvr-grow" aria-label="instagram"></i></a></li>
                    <li class="breadcrumb-item" id="contactus"> <a href="{% url 'contact' %}">Looking for any customised jewelry? Contact Us!</a></li>
                </ol>
            </div>
            <div class="col-sm-12 col-md-12 copyright-footer">
                <i class="fa fa-copyright"> Debapriya Bhattacharya </i>
            </div>
        </div>
    </footer>
</body>

</html>
